body{
    background: grey;
}
/*левая колонка*/
aside{
    float: left;
    background: #969595;
    width: 20%;
    padding: 2.5%;
    height: 250vh;
    color: #4d4d4d;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 50px;
    float: left;
}

aside .logo {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #ffffff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration-line: none;
    transform: scale(1.10);
}
/*левая колонка*/

/*про нас*/
main .features {
    float: left;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px  }

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
/*про нас*/

/*нижняя информация*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.address {
    background-color: black;
    color: white;
    float: right;
}

.phone{
    text-align: left;
}
/*нижняя информация*/

/*Аккаунт*/
.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

/*Аккаунт*/

/*Авторизация*/
.users {
    float: right;
}
/*Авторизация*/
/*Таблица*/
table.table-dark{
	width: 65%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
    background-color: #6566a6;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	background: #347c99;
	color: #fff;
	font-weight: normal;
}
table .table_a {
    color: #d9631e;
}

table .table_a2 {
    color: #e3a427;
}

table .table_a3 {
    color: #ab268a;
}

table .table_a4 {
    color: #361ba1;
}

table .table_a5 {
    color: #1ba128;
}

table .table_a6 {
    color: #d10d0d;
}

table .table_a7 {
    color: #0dc1d1;
}

table .table_a8 {
    color: #a30dd1;
}
/*Таблица*/